@import '../../colors.styl';

.editor-container
    .subtitle-collection
        border solid 1px $tertiaryColor
        height 45vh
    .button-container
        height 10vh
    .editor-container
        height 20vh