@import '../../colors.styl';

.subtitle-list
    margin auto
    text-align center
    padding-top 0.5rem
    padding-bottom 0.5rem
    .subtitle-container
        width 100%
        .edit-btn-container
            padding 0.5rem
            .btn-primary
                width 100%
                padding 0.2rem
                font-size 0.8rem