/* You can add global styles to this file, and also import other style files */
@import './colors.styl';

body
    background url('./assets/images/bg.jpeg')
    background-size cover
    .app-main-container
        height 100vh

.flex
    display flex
    justify-content center
    align-items center

.card
    background-color $cardBg

.no-display
    display none