@import '../../colors.styl';

.app-wrapper
    max-height 80vh
    .title-card
        padding 1.2rem
        .title-container
            text-align center
        .select-video-container
            margin 3.5rem 0
            padding 1rem 0.5rem
            flex-direction column
            border solid 1px $tertiaryColor
            border-radius 15px
            .desc-text
                padding-bottom 2rem