<video width="800" height="600" controls #videoplayer *ngIf="videoUrl != ''">
  <source [src]="videoUrl" type="video/mp4">
  Your browser does not support the video tag.
</video>



<input id="subtitle" type="file" name="subtitle" accept=".vtt" (change)="vttChanged($event)">
<div class="app-wrapper col-sm-12">
  <div class="col-sm-12 title-card card flex">
    <div class="title-container col-sm-6">
      <h3 class="title">Video Transcript Generator</h3>
      <div class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit in laudantium qui tenetur
        voluptatum eligendi? Laborum ratione, tempora officiis omnis excepturi cumque consequatur dolores ipsam!
        Tempore, error eaque. Tempore, porro.</div>
    </div>

    <div class="select-video-container col-sm-4 flex">
      <div class="desc-text">
        Please select a video and click the start button to start with
      </div>
      <div class="select-video">
        <input id="photo" type="file" accept="video/*" />
        <button type="button" class="btn btn-primary" (click)="upload()">Upload</button>
      </div>
    </div>
  </div>
</div>
