@import '../../colors.styl';

.app-wrapper
    max-height 95vh
    .title-card
        padding 1.2rem
        .title-container
            text-align center
        .select-video-container
            margin 3.5rem 0
            padding 1rem 0.5rem
            flex-direction column
            border solid 1px $tertiaryColor
            border-radius 15px
            .desc-text
                padding-bottom 2rem
        .video-subtitle-container
            margin 3.5rem 0
            padding 0
            &.subtitle-loaded
                margin 0
            .video-container
                border-right solid 1px $tertiaryColor
                video
                    width 100%
            .subtitle-container
                .btn-container-sub
                    justify-content space-around
                    flex-direction column
                    height 50%
                    .btn-primary
                        min-width 30%
                        font-size 0.8rem

    .editor-wrapper
        .subtitle-collection
            border solid 1px $tertiaryColor
            height 45vh
            overflow auto
            .subtitle-header
                margin auto
                text-align center
                padding-top 0.5rem
                padding-bottom 0.5rem
                font-weight 800
        .button-container
            height 10vh
            justify-content space-around
        .editor-container
            height 10vh
        .text-container
            height 15vh
            .text
                justify-content space-around
                textarea
                    width 70%