<div class="app-wrapper col-sm-12">
  <div class="col-sm-12 title-card card flex">
    <div class="title-container col-sm-6">
      <h3 class="title">Video Subtitle Generator</h3>
      <div class="description" *ngIf="!subtitleLoaded">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sit in
        laudantium qui tenetur
        voluptatum eligendi? Laborum ratione, tempora officiis omnis excepturi cumque consequatur dolores ipsam!
        Tempore, error eaque. Tempore, porro.</div>
    </div>

    <div class="select-video-container col-sm-4 flex" [class.no-display]="showVideo">
      <div class="desc-text">
        Please select a video to start
      </div>
      <div class="select-video">
        <div class="upload-btn btn btn-primary" (click)="onClickUpload()">Upload a Video</div>
        <input id="photo" type="file" accept="video/*" #inputUpload (change)="loadVideo()" class="no-display">
      </div>
    </div>

    <div class="col-sm-12 video-subtitle-container row" [class.no-display]="!showVideo" [class.subtitle-loaded]="subtitleLoaded">
      <div class="col-sm-6 video-container">
        <video controls #videoplayer [class.no-display]="!showVideo">
          <source type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>

      <div class="col-sm-6 subtitle-container" *ngIf="!subtitleLoaded">
        <h4 class="title-sub flex">
          Select an option
        </h4>
        <div class="btn-container-sub flex">
          <div class="upload-btn btn btn-primary" (click)="uploadSubtitle()">Upload an existing vtt file</div>
          <input id="subtitle" type="file" name="subtitle" accept=".vtt" (change)="vttChanged($event)" class="no-display"
            #subtitleUpload>
          <div class="upload-btn btn btn-primary" (click)="subtitleLoaded = true">Create New</div>
          <div class="upload-btn btn btn-primary" (click)="showVideo = false">Select New Video</div>
        </div>
      </div>

      <div class="col-sm-6 subtitle-editor" *ngIf="subtitleLoaded">
        <div class="editor-wrapper">
          <div class="subtitle-collection">

          </div>
          <div class="button-container flex">
            <div class="btn btn-primary start-btn">Set Start</div>
            <div class="btn btn-primary stop-btn">Set Stop</div>
            <div class="btn btn-primary edit-btn">Edit Selected</div>
          </div>
          <div class="editor-container col-sm-12 flex">
            <div class="col-sm-6 start-container">
              <div class="start-time">Start Time</div>
              <div class="input-time">
                <input type="text" name="startTime">
              </div>
            </div>
            <div class="col-sm-6 end-container">
              <div class="end-time">End Time</div>
              <div class="input-time">
                <input type="text" name="endTime">
              </div>
            </div>
          </div>
          <div class="col-sm-12 text-container">
            <div class="col-sm-12 title">
              Enter Text Here
            </div>
            <div class="col-sm-12 text flex">
              <textarea class="subtitle-text"></textarea>
              <div class="submit-btn btn btn-primary">Done!</div>
            </div>
          </div>
        </div>


        <!-- <app-subtitle-editor [subtitleJson]="jsonResult"></app-subtitle-editor> -->
      </div>
    </div>
  </div>
</div>
